<%= render 'shared/viewport' %>
<center>
	<h2>Only one of the best organizations at Yale.<br>And the admins are these lovely people named Dana and Melia.</h2>
	<%= link_to "Sign In", new_session_path, class:'button-xlarge pure-button' %>
</center>


