<h1>SILLISIBS</h1>
<h2>What is Sillisibs?</h2>
<p>Only one of the best organizations at Yale. And the admins are these lovely people named Dana and Melia.</p>
<%= link_to "Sign In as Student", search_path %>
<br>
<%= link_to "Sign In as Admin", admin_path %>


