<div class="name">
	<h1><%= @user.name %></h1>
</div>
<div class="pure-g">
	<div class="pure-u-2-5">
		<div class="family">
			<%= render 'shared/familyview' %>
		</div>
	</div>
	<div class="pure-u-3-5">
		<div class="chart">
		 <h2>Your family will be meeting here.</h2>
		 <h2>Here will be a picture of the dining hall.</h2>
		</div>
	</div>
	<div class="pure-u-3-5">
		<div class="link">
		<h1>Stay updated!<br>sillisibs.herokuapp.com</h1>
		</div>
	</div>
	<div class="pure-u-2-5">
		<div class="done">
			<%= link_to "Done!", checkin_path, class:'done-button pure-button' %>
		</div>
	</div>
</div>
