<%= render 'shared/viewport' %>
<center>
	<h1>Check In!</h1>
	<h2>Please type your name below.</h2>
	<%= link_to "Let's say you finished.", user_path(:id => 1), class:'button-xlarge pure-button' %>
	<br><br>
	<%= link_to "Dashboard", admin_path, class:'button-xlarge pure-button' %>
</center>